.DS_Store
.vscode
.obsidian/workspace.json
.obsidian/plugins/obsidian-review-notes-plugin/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/various-complements/histories.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/remember-cursor-position/cursor-positions.json
zignore/
